/* body */
body {
    background-color: hsl(0, 0%, 100%);   /* bgc#fff */
    color: #555;              /* c#555 */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

/* header */
header {
    background-color: #000032; /* bgc#000032 */
    color: #FFF;               /* c#fff */
    background-image: url(images/sunset.jpg); /* bgi */
    background-position: right ; /* bgp:right */
    background-repeat: no-repeat;/* bgr:no-repeat */
    line-height: 400%; /* lh:400% */
    text-indent: 1em; /* txi:1em */
}

/* nav */
nav {
    background-color: #BBDEFB; /* bgc#bbdefb */
    font-weight: bold; /* fwb */
}
nav a {
    text-decoration: none; /* txd */
}
/* h1 */
h1 {
    margin-bottom: 0;          /* mb:0 */
}
h1, 
h2, 
h3, footer 
{
    font-family: Georgia, "Times New Roman",serif; /* ffa */
}
/* h2 */
h2 {
    color: #1976D2;            /* c#1976d2 */
}
h3 {
    color: #003;             /* c#003 */
}
/* dt */
dt {
    color: #002171;            /* c#002171 */
}

/* address */
address {
    font-style: normal;        /* fs:normal */
}
footer {
    font-size: 75%;          /* fz:75% */
    font-style: italic;        /* fsi*/
    text-align: center;        /* txa */  
}
/* .resort */
.resort {
    color: #1976D2;            /* c#1976d2 */
    font-weight: bold; /* fwb */
}
